SONIOX_API_KEY=your_soniox_api_key_here
SONIOX_TTS_URL=https://tts-rt.soniox.com/tts
SONIOX_TTS_MODEL=tts-rt-v1
SONIOX_TTS_LANGUAGE=en
SONIOX_TTS_VOICE=Adrian
SONIOX_TTS_AUDIO_FORMAT=pcm_s16le
SONIOX_TTS_SAMPLE_RATE=8000
SONIOX_TTS_BITRATE=
SONIOX_TTS_TIMEOUT_MS=30000
PORT=6011
